{
  "Tomb of Kings": ["tok", "tomb", "tomb of kings", "tumba"],
  "Shadowguard": ["shadowguard", "sg", "roof"],
  "Citadel": ["citadel", "ciudadela", "ninjas"],
  "Wind": ["wind", "viento", "elementales"],
  "Doom": ["doom", "gauntlet"],
  "Covetous": ["covetous", "cov"],
  "Despise": ["despise", "desp"],
  "Destard": ["destard", "dest"],
  "Shame": ["shame"],
  "Wrong": ["wrong"],
  "Deceit": ["deceit"],
  "Hythloth": ["hythloth", "hyth"],
  "Khaldun": ["khaldun", "khal"]
}
